<mat-list>
    <mat-list-item *ngFor="let user of users" fxLayout="column" fxLayoutAlign="space-between space-between">
        <span matLine>Name: {{user.name}}</span>
        <span matLine>Age: {{user.age}}</span>
        <span matLine>Email: {{user.email}}</span>            
    </mat-list-item>
</mat-list>
   