<div fxLayoutAlign="center" class="paddingTop">
    <mat-card fxLayout="column" fxLayoutAlign="center center">
        <mat-card-content fxFlex>
            <form [formGroup]="form" (ngSubmit)="createUser()">
        
                <div>
                    <mat-form-field>
                        <input matInput [formControl]="form.controls['name']" placeholder="Name">
                        <mat-icon matSuffix>person</mat-icon>
                    </mat-form-field>
                </div>
                
                <div>
                    <mat-form-field>
                        <input matInput type="number" [formControl]="form.controls['age']" placeholder="Age">
                        <mat-icon matSuffix>settings_accessibility</mat-icon>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field>
                        <input matInput [formControl]="form.controls['email']" placeholder="Email">
                        <mat-icon matSuffix>polymer</mat-icon>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field>
                        <input matInput type="password" [formControl]="form.controls['password']" placeholder="Password">
                        <mat-icon matSuffix>lock</mat-icon>
                    </mat-form-field>
                </div>
        
                <div>
                    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
                        Register
                    </button>
                </div>

            </form>
        </mat-card-content>
    </mat-card>
</div>