<mat-toolbar color="primary">
    Prueba tecnica
</mat-toolbar>
    
<mat-sidenav-container>
    <mat-sidenav color="secondary" [mode]="'side'" [opened]="true">
        <button mat-button class="menu-button" [routerLink]="['login']">
            <mat-icon matSuffix>login</mat-icon>
            <span>Login</span>
        </button>
        <button mat-button class="menu-button" [routerLink]="['register']">
            <mat-icon matSuffix>contact_page</mat-icon>
            <span>Register</span>
        </button>
        <button mat-button class="menu-button" [routerLink]="['user-list']">
            <mat-icon matSuffix>wysiwyg</mat-icon>
            <span>User list</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>