<div fxLayout="row" fxLayoutAlign="center">    

    <mat-card fxLayout="column" fxLayoutAlign="center center">
        <mat-card-content fxFlex>
            <form [formGroup]="form" (ngSubmit)="login()">
        
                <div>
                    <mat-form-field>
                        <input matInput [formControl]="form.controls['name']" placeholder="Username">
                        <mat-icon matSuffix>person</mat-icon>
                    </mat-form-field>
                </div>
        
                <div>
                    <mat-form-field>
                        <input matInput type="password" [formControl]="form.controls['password']" placeholder="Password">
                        <mat-icon matSuffix>lock</mat-icon>
                    </mat-form-field>
                </div>
        
                <div>
                    <button mat-raised-button color="primary" type="submit">
                        Login
                    </button>
                </div>

            </form>
        </mat-card-content>
    </mat-card>
</div>